.accordion__item {
  margin-bottom: 2.5rem;
  @include mq($until: tablet) {
    margin-left: 1.5rem;
  }
}

.accordion__button {
  &:hover > .item__button {
    color: #fff;
  }
}
div[class^="accordion__button"] {
  &:focus {
    outline: 0 !important;
  }
  &[aria-expanded="true"] {
    & > .item__button {
      &:first-of-type {
        &::before {
          transform: rotate(60deg);
          transform-origin: center center;
          transition: all 0.2s;
        }
      }
    }
  }
  &[aria-expanded="false"] {
    margin-bottom: 1rem;
  }
}

.item {
  &__button {
    display: inline;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.2;
    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      &::before {
        content: url(../../images/triangle.svg);
        width: 20px;
        fill: #fff;
        position: absolute;
        left: -1.3rem;
        @include mq($until: tablet) {
          left: 0.5rem;
        }

        transition: all 0.2s;
      }
    }
  }
  &__content {
    margin-top: 0.5rem;
    @include mq($until:tablet) {
      margin-left: -1.6rem;
    }
  }
}
