@import "vars";
@import "~sass-mq";
@import "fonts";
@import "backgrounds";
@import "typography";
@import "navbar";
@import "player";
@import "circles";
@import "accordion";
@import "iframe";
@import "hero";
@import "calculator";
@import "svgoverlays";
@import "bubbles";
@import "components/__components";
@import "normalize.css/normalize";
@import "hamburgers/_sass/hamburgers/hamburgers";
@import "hamburgers/_sass/hamburgers/_base";
@import "hamburgers/_sass/hamburgers/types/_squeeze";
@import "hamburger";

// BOOTSTRAP
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/utilities/_spacing";
@import "bootstrap/scss/utilities/_position";
@import "bootstrap/scss/mixins/_text-truncate";
@import "bootstrap/scss/mixins/_text-emphasis";
@import "bootstrap/scss/mixins/_text-hide";
@import "bootstrap/scss/mixins/_hover";
@import "bootstrap/scss/mixins/_deprecate";
@import "bootstrap/scss/utilities/_text";


body {
  font-family: "GT Walsheim", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
