body {
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@keyframes animateBubble {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes fadeInBubble {
  20%, 100% {
    opacity: 0.8;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.bubble {
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;
  &::after {
    opacity: 0.8;
    border-radius: 50%;
    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
  }
  &--1 {
    animation: animateBubble 26s linear infinite,
      sideWays 2s ease-in-out infinite alternate,
      fadeInBubble 26s linear infinite;
    left: 80%;
    top: 80%;
    transform: scale(0.3);
    &::after {
      background: $c-1;
    }
  }
  &--2 {
    animation: animateBubble 29s linear infinite,
      sideWays 4s ease-in-out infinite alternate,
      fadeInBubble 29s linear infinite;
    left: 90%;
    top: 50%;
    transform: scale(0.6);
    &::after {
      background: $c-2;
    }
  }
  &--3 {
    animation: animateBubble 22s linear infinite,
      sideWays 3s ease-in-out infinite alternate,
      fadeInBubble 22s linear infinite;
    left: 80%;
    top: 10%;
    transform: scale(0.3);
    &::after {
      background: $c-3;
    }
  }
  &--4 {
    animation: animateBubble 20s linear infinite,
      sideWays 2s ease-in-out infinite alternate,
      fadeInBubble 20s linear infinite;
    left: 65%;
    top: 70%;
    transform: scale(0.4);
    &::after {
      background: $c-4;
    }
  }
  &--5 {
    animation: animateBubble 21s linear infinite,
      sideWays 2s ease-in-out infinite alternate,
      fadeInBubble 21s linear infinite;
    left: 50%;
    top: 0;
    transform: scale(0.8);
    &::after {
      background: $c-5;
    }
  }
  &--6 {
    animation: animateBubble 29s linear infinite,
      sideWays 4s ease-in-out infinite alternate,
      fadeInBubble 29s linear infinite;
    left: 30%;
    top: 50%;
    transform: scale(0.5);
    &::after {
      background: $c-1;
    }
  }
  &--7 {
    animation: animateBubble 22s linear infinite,
      sideWays 3s ease-in-out infinite alternate,
      fadeInBubble 22s linear infinite;
    left: 20%;
    top: 0;
    transform: scale(0.3);
    &::after {
      background: $c-2;
    }
  }
  &--8 {
    animation: animateBubble 28s linear infinite,
      sideWays 2s ease-in-out infinite alternate,
      fadeInBubble 28s linear infinite;
    left: 10%;
    top: 40%;
    transform: scale(0.7);
    &::after {
      background: $c-3;
    }
  }
  &--9 {
    animation: animateBubble 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate,
      fadeInBubble 20s linear infinite;
    left: 5%;
    top: 80%;
    transform: scale(0.4);
    &::after {
      background: $c-1;
    }
  }
  &--10 {
    animation: animateBubble 25s linear infinite,
      sideWays 2s ease-in-out infinite alternate,
      fadeInBubble 25s linear infinite;
    left: -5%;
    top: 5%;
    transform: scale(0.6);
    &::after {
      background: $c-2;
    }
  }
}
