.calculator {
  &__wrapper {
    border: 4px $c-4 solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    @include mq($until: tablet) {
      width: 95%;
    }
    @include mq($from: tablet) {
      width: 35rem;
    }
    margin: 0 auto;
  }
  &__title {
    background-color: $c-4;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    padding: 0.75rem;
    hyphens: auto;
    word-break: normal;
  }
  &__mdr {
    @include mq($from: tablet) {
      width: 400px;
      margin: 1.5rem;
    }
    @include mq($until: tablet) {
      width: 90%;
      margin: 0.5rem;
    }
  }
}
