
div {
  &.circle {
    display: block;
    height: $circle-width;
    width: $circle-width;
    border-radius: 50%;
    background-color: $c-1;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    margin-top: calc(#{$circle-width} / -2);
    & > h1 {
      line-height: 1;
      width: 100%;
      height: 100%;
      font-size: 2.75rem;
      display: flex;
      align-items: center;
      & > span > i {
        font-size: 130%;
      }
    }
  }
}
h2 {
  &.circle {
    &::before {
      height: 5rem;
      width: 5rem;
      left: -1.5rem;
      top: -1rem;
    }
  }
}

h3 {
  &.circle {
    &::before {
      height: 3rem;
      width: 3rem;
      left: -1rem;
      top: -0.6rem;
    }
  }
}
.circleTop {
  position: relative;
  z-index: 0;
  &::before {
    border-radius: 50%;
    content: "";
    display: inline;
    position: absolute;
    z-index: -1;
  }
}
.circle {
  position: relative;
  z-index: 0;
  &::before {
    border-radius: 50%;
    content: "";
    display: inline;
    position: absolute;
    z-index: -1;
  }
  &--yellow {
    &::before {
      background-color: $c-1;
    }
  }
  &--red {
    &::before {
      background-color: $c-3;
    }
  }
  &--blue {
    &::before {
      background-color: $c-4;
    }
  }
  &--white {
    &::before {
      background-color: $c-7;
    }
  }
}
