.claim {
  &__wrapper {
    position: relative;
    text-align: center;
    @include mq($until: tablet) {
      margin-top: calc(-75vw / 1.8);
    }
    @include mq($from: tablet, $until: desktop) {
      margin-top: calc(-35vw / 1.8);
    }
    @include mq($from: desktop, $until: wide) {
      margin-top: calc(-35vw / 1.8);
    }
    @include mq($from: wide) {
      margin-top: calc(-32vw / 1.8);
    }
  }
  &__svg {
    @include mq($until: tablet) {
      width: 75vw;
    }
    @include mq($from: tablet, $until: desktop) {
      width: 35vw;
    }
    @include mq($from: desktop, $until: wide) {
      width: 35vw;
    }
    @include mq($from: wide) {
      width: 32vw;
    }
  }
}
