@font-face {
  font-display: swap;
  font-family: "GT Walsheim";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular.eot?#iefix");
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular.eot?#iefix")
      format("eot"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular.woff2") format("woff2"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular.woff") format("woff"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular-Oblique.eot?#iefix");
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular-Oblique.eot?#iefix")
      format("eot"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular-Oblique.woff2")
      format("woff2"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular-Oblique.woff")
      format("woff"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Regular-Oblique.ttf")
      format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold.eot?#iefix");
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold.eot?#iefix") format("eot"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold.woff2") format("woff2"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold.woff") format("woff"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold-Oblique.eot?#iefix");
  src: url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold-Oblique.eot?#iefix")
      format("eot"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold-Oblique.woff2") format("woff2"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold-Oblique.woff") format("woff"),
    url("/fonts/gt walsheim pro/GT-Walsheim-Pro-Bold-Oblique.ttf")
      format("truetype");
}
