.navbar {
  &__wrapper {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 1000;
  }
  padding: 1rem;
  background-color: #fff;
  display: flex;
  @include mq($until: tablet) {
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  width: 100vw;
  align-items: center;
  &__socialmedia {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex !important;
    & > li {
      @include mq($until: tablet) {
        width: initial;
        &:last-of-type {
          margin-left: 1rem;
        }
      }
    }
    & > a {
      text-decoration: none;
      &:hover {
        border: 0 !important;
        text-decoration: none;
      }
    }
  }
  &__menu {
    @include mq($until: tablet) {
      background-color: $c-1;
      padding: 0 0.5rem 3.25rem 0.5rem !important;
    }
  }
  &__menu,
  &__socialmedia {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    @include mq($until: tablet) {
      background-color: $c-1;
      display: block;
    }
    & > li {
      display: inline-block;
      margin-left: 1rem;
      font-weight: 700;
      @include mq($until: tablet) {
        margin-left: 0 !important;
        font-size: 1.5rem;
        margin-top: 2.5rem;
      }
      @include mq($until: tablet) {
        width: 100%;
      }
      &.is-current > a {
        border-bottom: 3px black solid;
      }
      & > a {
        text-decoration: none;
        &:hover {
          border-bottom: 3px black solid;
          & svg {
            fill: $c-3;
          }
        }
        & svg {
          fill: #000;
        }
      }
    }
  }
}

.menu {
  &__wrapper {
    background-color: $c-1;
  }
}
