.navbar {
  padding: 1rem;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  width: 100vw;
  align-items: center;
  &__socialmedia {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex !important;
  }
  &__menu,
  &__socialmedia {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    & > li {
      display: inline;
      margin-left: 1rem;
      font-weight: 700;
     &.is-current > a {
       text-decoration: underline !important;
     } 
      & > a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          & svg {
            fill: $c-3;
          }
        }
        & svg {
          fill: #2D2D37;
        }
      }
    }
  }
}