.navbar {
  padding: 1rem;
  @include mq($until: tablet) {
    padding: 0.5rem;
  }
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  @include mq($until: tablet) {
    flex-wrap: wrap;
  }
  @include mq($until: tablet) {
    justify-content: space-between;
  }
  width: 100vw;
  align-items: center;
  &__socialmedia {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex !important;
    & > a {
      text-decoration: none;
      &:hover {
        border: 0 !important;
        text-decoration: none;
      }
    }
  }
  &__menu,
  &__socialmedia {
    list-style: none;
    display: inline;
    @include mq($until: tablet) {
      display: block;
      background-color: $c-1;
      padding: 1rem;
    }
    margin: 0;
    padding: 0;
    & > li {
      display: inline-block;
      margin-left: 1rem;
      font-weight: 700;
      @include mq($until: tablet) {
        margin-left: 0 !important;
        margin-bottom: 1rem;
      }
      @include mq($until: tablet) {
        width: 100%;
      }
      &.is-current > a {
        border-bottom: 3px black solid;
      }
      & > a {
        text-decoration: none;
        &:hover {
          border-bottom: 3px black solid;
          & svg {
            fill: $c-3;
          }
        }
        & svg {
          fill: #2d2d37;
        }
      }
    }
  }
}
