.overlay {
  &__container {
    position: relative;
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba($c-5, 0.7);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.3px);
    transition: background-color 0.3s linear;
    &:hover {
      background-color: rgba($c-5, 0.85);
    }
  }
}

.material {
  &__wrapper {
    flex-grow: 1;
    display: flex;
  }
  &__link {
    align-self: flex-end;
    font-size: 1.6rem !important;
    letter-spacing: 0.02em;
    line-height: 1.25;
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
