p.teaser {
  font-weight: 700;
}

a {
  text-decoration: underline;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 400;
}
