.teaser {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4;
  margin: 1.5rem 0;
}

a {
  text-decoration: underline;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

h2 {
  margin: 0;
  font-size: 3rem !important;
  margin-top: 0;
  line-height: 1.1;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem !important;
  font-weight: 700;
}