html,
* {
  color: #000;
}

.teaser {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4;
  @include mq($until: tablet) {
    font-size: 1.25rem;
  }
}

p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 1.5rem 0;
  hyphens: auto;

  @include mq($until: tablet) {
    font-size: 1.15rem;
    line-height: 1.35;
  }
  &.text--small-running {
    font-size: 1rem;
    margin-top: 5.5rem;
    @include mq($until: tablet) {
      margin-top: 4.5rem;
      margin-bottom: 6rem;
    }
  }
  &.text--small-running--wo-circle {
    font-size: 1rem;
  }
}

a {
  text-decoration: underline;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}
h2 {
  margin: 0;
  font-size: 2.6rem;
  line-height: 0.9;
  font-weight: 700;
  display: initial;
  margin-bottom: 0;
  hyphens: auto;
  @include mq($until: tablet) {
    text-align: left;
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1.6rem !important;
  letter-spacing: 0.02em;
  font-weight: 700;
  display: initial;
  margin-bottom: 0;
  @include mq($until: tablet) {
    font-size: 1.3rem !important;
  }
}

.contentItems {
  margin-top: 2.5rem;
}
