/////   COLORS
$c-1: #ffe200;
$c-2: #dbbf00;
$c-3: #ea5925;
$c-4: #006fd8;
$c-5: #004b92;
$c-6: #000101;
$c-7: #fff;

/////   BREAKPOINTS
$mq-breakpoints: (
  mobile: 576px,
  tablet: 768,
  desktop: 992px,
  wide: 1200px
);

$circle-width: 20rem;
